<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if page.show-image %}
                {% image profile.png class="img-responsive" alt="profile" id="profile-image" %}
                {% endif %}
                <div class="intro-text">
                    <span class="name">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</span>
                    <hr class="light fa-{{ page.icon }}">
                    <span class="skills">{{ page.skills }}</span>
                </div>
            </div>
        </div>
    </div>
</header>