---
layout: section
---
<div class="row">
    {% for post in site.posts %}
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                {{ post.img | prepend:'"portfolio/' | append:'" class="img-responsive" alt="' | append:post.alt | append:'"' | image }}
            </a>
        </div>
    {% endfor %}
</div>